<nav class="navBar">
    <div class="title is-1 has-text-white navLogo">
        VroomRide
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
             <% if(user_type === 'parent'){%>
                <a class="button is-primary" href="/parent">Home</a>
                <a class="button is-primary" href="/parent/search">Search</a>
             <%} else {%>
                <a class="button is-primary" href="/drivers">Home</a>
             <% } %>
                <a class="button is-primary" href="/user/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>