<nav class="navBar">
    <div>
        VroomRide
    </div>
    <div>
        <a href="/drivers">Home</a>
        <a href="/user/search">Search</a>
        <a href="/user/logout">Logout</a>
    </div>
</nav>