<nav class="navBar">
    <div class="title is-1 has-text-white navLogo">
        VroomRide
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
        <a class="button is-primary" href="/drivers">Home</a>
        <a class="button is-primary"href="/user/search">Search</a>
        <a class="button is-primary"href="/user/logout">Logout</a>
        </div>
        </div>
    </div>
</nav>