<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers-HomePage</title>
</head>
<body>
    <h1>Welcome driver</h1>
    <div class="buttons">
        <a href="/drivers/new"><button type="button">New Driver</button></a>
    </div>
    <div class="buttons">
        <a href="/drivers/edit"><button type="button">Edit Profile</button></a>
    </div>
</body>
</html>