<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

<body>
    <section class="hero is-primary" class="case">
        <h1 class="title is-1 has-text-white">VroomRide </h1>
        </section>
        <div class="homepageDiv1">
            <p>For drivers who are looking for a part-time job this is the place to be !</p><br>
            <p>For parents you can search for drivers. There are times when it can be difficult to pick up/drop-off kids
                at school or extracurricular activities. This app allows you to find a driver that is right for your
                family. </p><br>
            <p>Lets get you started!</p>
        </div>
        <div class="homepageDiv2">
            <nav>
                <a class="button" href="/user/signup">Signup</a>
            </nav>
            <nav>
                <a class="button" href="/user/login">Login</a>
            </nav>
        </div>
        <%- include('./partials/footer.ejs')%>
</body>

</html>