<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Driver</title>
</head>
<body>
    <div class="mainHeader">
        <h1>Add a Driver</h1>
    </div>
    <form class="newForm" action="/drivers" method="post">
        <div class="eachentry">
            <label class="newItems">Name</label>
            <input class="input" type="text" name="name">
        </div>
        <div class="eachentry">
            <label class="newItems">Img Link</label>
            <input class="input" type="text" name="img">
        </div>
        <div class="eachentry">
            <label class="newItems">Age</label>
            <input class="input" type="number" name="age">
        </div>
        <div class="eachentry">
            <label class="newItems">Years of Experience</label>
            <input class="input" type="number" name="years_experience">
        </div>
        <div class="eachentry">
            <label class="newItems">Certified</label>
            <select data-style="btn-info" name="certified">
            <option value="true">True</option>
            <option value="false">False</option>
        </select> 
        </div>
        <div class="eachentry">
            <label class="newItems">Availability(Days)</label>
            <input class="input" type="text" name="days_available">
        </div>
        <input class="createNewdriver" type="submit" value="Add New Driver">
    </form>
</body>
</html>