<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/nav') %>
    <h1>Search  For A Driver</h1>
    <input id="searchTxt" type="text">
    <button id="searchBtn">Search</button>
    <section id="searchSectn">

    </section>
    <%- include('./partials/footer.ejs')%>
</body>
</html>