<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/nav') %>
    <h1>Search  For A Driver</h1>
    <input type="text">
    <button>Search</button>
    <section>

    </section>
    <%- include('./partials/footer.ejs')%>
</body>
</html>