<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <h1>Signup</h1>
    <form action="/user/signup" method="POST">
        <label>Choose option</label>
        <select data-style="btn-info" name="selection">
            <option value="driver">Driver</option>
            <option value="parent">Parent</option>
        </select>
        <label>
            Email:
            <input type="email" name="email">
        </label>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <input type="submit" value="Signup">
    </form>
</body>

</html>