* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    height: 100vh;
    background-color:#f2eeeb ;
}

.navBar {
    background-color: #412b76;
    color: white;

}
.navLogo{
    color:white;
    font-family: 'MonteCarlo', cursive;

}

footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 3rem;
    text-align: center;
    padding: 0;
}



h1 {
    color:white;
    font-family: 'MonteCarlo', cursive;
    background-color:  #412b76;
}

nav {
    display:flex;
}

.container{
    /*border: solid green;*/
    width: 31rem;
    background-color:#f2eeeb ;
    box-shadow: transparent;
  
}

.section{
    border: solid purple;
}
.case {
    height: 40rem;
    background-color: white;
}

.homepageDiv1{
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: bold;
}
.homepageDiv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.button {
    background-color: #2ee8b6;
    color: white;
}

.login{
    font-weight: bold;
    text-align: center;
    height:2rem;
    
}
.loginCon{
    width:20rem;
   /* height:38rem;*/
}
.profileBox {
    display:flex;
    flex-wrap: wrap;
    width:50rem;
    height:40rem;
    justify-content: center;
    align-items: center;
    margin-top:0.8rem;
    gap: 0.8rem;
}
.items{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height:12rem;
    align-items: center;
}
.homeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemHeader{
    display: flex;
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    text-transform: capitalize;
}
.itemImg {
    display: flex;
}
.indexHdr {
    margin-top: 2.5rem;
    font-family:Helvetica, sans-serif;
  
}

.profileBtns{
    display:flex;
    gap: 1rem;
}
.drBtn {
    margin-top: 1.1rem;
    display:flex;
    
}