* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    height: 100vh;
    background-color:#f2eeeb ;
}

.navBar {
    background-color: #412b76;
    color: white;

}

footer{

    position: absolute;
    bottom: 10px;
    width:100%;
    height: 15px;
}



h1 {
    color:white;
    font-family: 'MonteCarlo', cursive;
    background-color:  #412b76;
}

nav {
    display:flex;
}

.container{
    /*border: solid green;*/
    width: 31rem;
    background-color:#f2eeeb ;
    box-shadow: transparent;
  
}

.section{
    border: solid purple;
}
.case {
    height: 40rem;
    background-color: white;
}

.homepageDiv1{
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: bold;
}
.homepageDiv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.button {
    background-color: #2ee8b6;
    color: white;
}

.login{
    font-weight: bold;
    text-align: center;
    height:2rem;
    
}
.loginCon{
    width:20rem;
   /* height:38rem;*/

}
