* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    height: 100vh;
    background-color:#f2eeeb ;
}

.navBar {
    background-color: #412b76;
    color: white;

}
.navLogo{
    color:white;
    font-family: 'MonteCarlo', cursive;

}

footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 3rem;
    text-align: center;
    padding: 0;
}



h1 {
    color:white;
    font-family: 'MonteCarlo', cursive;
    background-color:  #412b76;
}

nav {
    display:flex;
}

.container{
    width: 31rem;
    background-color:#f2eeeb ;
    box-shadow: transparent;
}

.case {
    height: 40rem;
    background-color: white;
}

.homepageDiv1{
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: bold;
}
.homepageDiv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.button {
    background-color: #2ee8b6;
    color: white;
}

.signupSel{
    margin-right: 0.8rem;
}
.signupEmail{
    margin-top: 1.3rem;
}

.login{
    font-weight: bold;
    text-align: center;
    height:2rem;
    
}
.loginCon{
    width:20rem;
}

.profileBox {
    display:flex;
    flex-wrap: wrap;
    width:50rem;
    height:40rem;
    justify-content: center;
    align-items: center;
    margin-top:0.8rem;
    gap: 0.8rem;
  
}
.items{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height:12rem;
    align-items: center;
}
.homeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemHeader{
    display: flex;
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    text-transform: capitalize;
}
.itemImg {
    display: flex;
}
.indexHdr {
    margin-top: 2.5rem;
    font-family:Helvetica, sans-serif;
  
}

.profileBtns{
    display:flex;
    gap: 1rem;
}
.drBtn {
    margin-top: 1.1rem;
    display:flex;  
}

.showBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.showContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showName {
    font-weight: bold;
    margin-bottom: 1rem;
}

.selectBox {
    display: flex;
    width: 15rem;
    gap: 2rem;
    margin: 1rem;
}
.searchArea{
    margin-top: 2rem;
    display:flex;
    gap: 3rem;
}
#searchTxt{
    display:flex;
    width:17rem;
}
#searchBtn {
    display:flex;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showPrtBox {
    margin-top: 5rem;
    display:flex;
    flex-direction: column;
}
.selectedDrivers{
    display:flex;
    width: 70rem;
    gap: 2rem;
    margin-top: 2rem;
    
}
.dayBox{
    display: flex;
    height: 10rem;
    width: 20rem;
    flex-direction: column;
    align-items: center;
}
.day{
    text-transform: capitalize;
    font-weight: bold;
}
.selDriver{
    font-weight:normal;
    text-transform: capitalize;
    margin-top: 0.3rem;
}
.hdrParent {
    display:flex;
    font-weight: bold;
    margin-top: 2rem;
    justify-content: center;
}
.selectDescptn{
    margin-top: 2rem;
}
